@import '~src/scss/mixins';

.collapsed {
  width: 48px;
  nav{
    .nav-link{
      &.nav-link-vertical {
        padding: 16px;
      }
    }
  }
}

nav {
  .nav-link {
    @include navLink();

    &.nav-link-vertical {
      display: block;
      padding: 16px 32px;

      &.active {
        border-right: $border-active-link;
      }
    }
  }
}
