@import '~src/scss/variables';
@import '~src/scss/mixins';

header {
  border-bottom: $border-default;

  .logo-block {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 48px;
    width: 48px;
    margin-right: 8px;
  }

  .title-block{
    display: flex;
    flex-flow: column nowrap;
    margin: 12px;
  }
  .page-title {
    display: inline-block;
    margin: 0;
    a {
      color: $color-green-light;
      text-decoration: none;
    }
  }

  .tag-line {
    font-size: 12px;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
  }
}
