<section class="row">
  <div class="col-xs-12 col-md-10 col-lg-8">
    <h2>What is a Gherkin?</h2>
    
    <p>
      In Behavior Driven Development, A Gherkin is the specification of an individual requirement
      for a product feature.
    </p>
    <p>
      A Gherkin could also be described as a scenario. In fact, the first
      step in creating a Gherkin is to define it's <strong>Scenario</strong>. The scenario 
      introduces a situation in which the application should perform action or react to user input.
      The exact behavior of the application for this scenario is written using predefined keywords. Like this:
    </p>

    <p>
      <strong>Given</strong> condition or state of the application or user,<br/>
      <strong>When</strong> an action is performed on the application,<br/>
      <strong>Then</strong> the following outcomes will result.
    </p>

    <p>The combination of a Scenario defined by a Given, When and Then statement is known as a Gherkin.</p>

    <a routerLink="/about/make-gherkin">Next: Make Gherkin -></a>
  </div>
</section>
