@import './mixins';

.btn {
  padding: 12px 16px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  border: $border-button-primary;
  background: $color-button-primary;

  &:hover {
    background: $color-button-primary-hover;
    border-color: $color-button-primary-hover;
  }
}

.btn-secondary {
  background: #fff;
  border: $border-button-primary;
  color: $border-button-primary;
  
  &:hover {
    color: $color-button-primary-hover;
    border-color: $color-button-primary-hover;
  }
}

a {
  @include navLink();
}
