@import '~src/scss/variables';

$small: 48em;
$medium: 64em;
$large: 75em;

@mixin breakpointSmall {
  @media (min-width: #{$small}) {
    @content;
  }
}

@mixin breakpointMedium {
  @media (min-width: #{$medium}) {
    @content;
  }
}

@mixin breakpointLarge {
  @media (min-width: #{$large}) {
    @content;
  }
}

@mixin navLink() {
  color: $color-green-light;
  text-decoration: none;

  &:visited {
    color: $color-green-light;
  }
  &:hover {
    color: $color-green-dark;
  }
}

@mixin navLinkHorizontal() {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 16px;
  margin: 0 16px;
  border-bottom: 1px solid transparent;

  &.active {
    border-bottom: $border-active-link;
  }
}

@mixin navLinkVertical() {
  display: block;
  padding: 16px 32px;
  border-right: $border-inactive-link;

  &.active {
    border-right: $border-active-link;
  }
}

@mixin mainContentArea() {
  flex: 2 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}
